Repository jorenham/optype, pull requests merged in 2024-11, with the labels that each got.

#170 `optype.array_api` - dtypes
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  optype/__init__.py
  optype/_core/_does.py
  optype/_core/_has.py
  optype/array_api/__init__.py
  optype/array_api/_array.py
  optype/array_api/_device.py
  optype/array_api/_device_dask.py
  optype/array_api/_device_dask.pyi
  optype/array_api/_dtypes.py
  optype/array_api/_sctypes_numpy.py
  pyproject.toml
  tests/array_api/__init__.py
  tests/array_api/test_array.py
  tests/array_api/test_dtypes.py
  tests/array_api/test_sctypes_builtins.py
  tests/array_api/test_sctypes_np.py
  tests/test_does.py
  tests/test_typing.py
  uv.lock
Labels: component: optype.array_api

#182 simplified `optype.numpy` dtypes
  optype/numpy/_any_dtype.py
  optype/numpy/ctypeslib.py
  tests/numpy/test_any_dtype.py
Labels: component: optype.numpy

#183 fix and improve the `optype.numpy.Any*` docs
  README.md
Labels: 04 - Documentation, component: optype.numpy

#184 improve readability of `optype.numpy` type aliases and protocols
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  optype/numpy/__init__.py
  optype/numpy/_any_array.py
  optype/numpy/_any_dtype.py
  optype/numpy/_array.py
  optype/numpy/_dtype.py
  optype/numpy/_scalar.py
  optype/numpy/_shape.py
  optype/numpy/_ufunc.py
  optype/numpy/ctypeslib.py
  tests/numpy/test_any_array.py
  tests/numpy/test_scalar.py
Labels: component: optype.numpy

#186 workaround a PEP 696 bug in `typing_extensions.Protocol` affecting `CanSequence`
  optype/_core/_can.py
  optype/_core/_does.py
  optype/_core/_has.py
  optype/_core/_utils.py
  optype/copy.py
  optype/dataclasses.py
  optype/dlpack.py
  optype/inspect.py
  optype/json.py
  optype/pickle.py
  optype/types/_typeforms.pyi
  optype/typing.py
  uv.lock
Labels: 00 - Bug

#188 bump `basedpyright` to `1.21.1` (`pyright 1.1.389`)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Labels: 03 - Maintenance

#189 bump `ruff` to `0.7.4`
  .pre-commit-config.yaml
  optype/json.py
  optype/typing.py
  pyproject.toml
  uv.lock
Labels: 03 - Maintenance

#191 experimental `Just` and `JustInt` types in `optype.typing`
  README.md
  optype/typing.py
  tests/test_typing.py
Labels: 01 - Enhancement, component: optype.typing

#192 `optype.numpy.To*` coercible scalar- and array-likes
  README.md
  optype/numpy/__init__.py
  optype/numpy/_array.py
  optype/numpy/_shape.py
  optype/numpy/_to.py
  tests/numpy/test_to.pyi
Labels: 01 - Enhancement, component: optype.numpy

#193 fix `onp.ToArray{1,2}D` names
  optype/numpy/_to.py
Labels: 00 - Bug, component: optype.numpy

#195 `ruff 0.8.0` and `basedpyright 1.22.0`
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  examples/functor.py
  optype/_core/_can.py
  optype/dlpack.py
  optype/inspect.py
  optype/numpy/_any_array.py
  optype/numpy/_scalar.py
  optype/types/_typeforms.py
  optype/typing.py
  pyproject.toml
  tests/numpy/test_any_dtype.py
  tests/numpy/test_ufunc.py
  tests/test_inspect.py
  uv.lock
Labels: 03 - Maintenance

#196 workaround for a mypy bug with recursive sequences types
  optype/numpy/_sequence_nd.py
  optype/numpy/_to.py
  tests/numpy/test_to.pyi
Labels: component: optype.numpy

#198 3-d aliases for arrays and array-likes in `optype.numpy`
  README.md
  optype/numpy/_array.py
  optype/numpy/_to.py
Labels: component: optype.numpy

#199 `ToJustInt` scalar- and array-likes in `optype.numpy`
  README.md
  optype/numpy/_to.py
  tests/numpy/test_to.pyi
Labels: component: optype.numpy

#203 bump `ruff` to `0.8.1`
  .pre-commit-config.yaml
  optype/_core/_do.py
  optype/inspect.py
  optype/numpy/ctypeslib.py
  pyproject.toml
  tests/numpy/test_array.py
  tests/numpy/test_ufunc.py
  tests/test_protocols.py
  uv.lock
Labels: 03 - Maintenance

#205 fix `typing_extensions` import on `python>=3.13`
  optype/typing.py
Labels: 00 - Bug

#206 optional `onp.CanArrayND` shape-type param, improved shape-type compatibility
  optype/numpy/_array.py
Labels: 01 - Enhancement, component: optype.numpy

#207 `onp.To*Strict{1,2,3}D`: array-like aliases with strict shape-type
  README.md
  optype/numpy/_to.py
Labels: 01 - Enhancement, component: optype.numpy

#208 fix (more) `typing_extensions` imports on `python>=3.13`
  examples/functor.py
  examples/twice.py
  optype/numpy/_scalar.py
  tests/test_copy.py
  tests/test_do.py
  tests/test_inspect.py
  tests/test_pickle.py
  tests/test_protocols.py
  tests/test_string.py
  tests/test_types.py
  tests/test_typing.py
  tests/test_version.py
Labels: 00 - Bug

#209 0-d numpy array aliases
  README.md
  optype/numpy/_array.py
Labels: 01 - Enhancement, component: optype.numpy

#212 Added missed optype documentation
  README.md
Labels: 04 - Documentation, component: optype.pickle, priority: High
